$light-color: rgba(147, 147, 147, 1);
$bold-color: rgba(0, 0, 0, 1);
$btn-bg-color: rgba(115, 92, 255, 1);
$btn-color: rgba(255, 255, 255, 1);

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    padding: 1rem;
    background: rgba(249, 250, 254, 1);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;

    nav {
        display: flex;
        align-items: center;

        button {
            font-size: 1rem;
            margin-left: 1rem;
            padding: .5rem 1rem;
        }
    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 5px;

        span {
            background-color: $btn-bg-color;
            width: 2rem;
            height: 4px;
        }
    }
}


button {
    background-color: $btn-bg-color;
    border: none;
    color: $btn-color;
    border-radius: 3px;
    padding: 1rem 2rem;
    text-transform: capitalize;

}

button:not(.newsletter__form > button):hover {
    background-color: $btn-color;
    color: $btn-bg-color;
    box-shadow: 0px 2px 0px 0px $btn-bg-color;
    transition: all .5s ease-in-out;
}

li {
    list-style: none;

}



nav ul {
    display: flex;
    align-items: center;

    li,
    button {
        margin-left: 1rem;

    }

    li {
        // font-size: 1rem;
        position: relative;
        color: $light-color;
    }

    li:hover {
        color: $bold-color;
        font-weight: bold;

    }

    li:hover::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -20%;
        left: 1%;
        animation: underline .5s ease;
        height: 2px;
        background-color: $btn-bg-color;
    }

}

@keyframes underline {
    0% {
        width: 0px;
    }

    100% {
        width: 30px;
    }
}

.home {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;

    .homeBlock {
        flex: 1 1 auto;
    }

    .homeBlock_img {
        width: 40vw;
        animation: watch 1s ease-in-out;
        object-fit: contain;


    }

    @keyframes watch {
        0% {
            transform: scale(0.3);
        }
    }

    h1 {
        font-size: 3rem;
        animation: text .5s ease-in-out;
        animation-delay: .1s;
    }

    @keyframes text {
        0% {
            transform: translateY(50px);
        }
    }

    .homeBlock {

        p {
            color: $light-color;
            animation: text .5s ease-in-out;

        }

        button {
            animation: text .5s ease-in-out;



        }
    }


    aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 1 10%;

        p {
            transform: rotate(-90deg);
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $bold-color;
        }

        &_socialList {
            display: flex;
            flex-direction: column;

            li {
                border-radius: 50%;
                background-color: $btn-color;
                box-shadow: 0px 5px 10px 2px rgb(189, 189, 189);
                width: 45%;
                margin-top: .5rem;
            }

            li a img {
                max-width: 100%;
                width: 100%;
            }



        }
    }

}



.features {
    margin-bottom: 1rem;

    h2 {
        text-align: center;
        font-size: 42px;
    }

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .img_container {
            display: flex;
            justify-content: center;
            align-items: center;

            >div {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(55, 51, 63, 0.1);
                border-radius: 50%;
                padding: 2rem;

                >div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(55, 51, 63, 0.4);
                    border-radius: 50%;
                    padding: 2rem;
                }
            }
        }

        img {
            object-fit: contain;
            border: 1px solid;
            padding: 0 1rem;
            border-radius: 50%;
            max-width: 100%;
        }


        .firstBlock_item h3,
        .features__container_item h3 {
            font-weight: 500;
        }

        .firstBlock_item p,
        .features__container_item p {
            color: $light-color;
            line-height: 24px;
            font-size: 12px;
        }

    }
}


.watchDesign {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $btn-bg-color;
    color: $btn-color;
    text-transform: capitalize;
    padding: 1rem;


    h2 {
        font-size: 300%;
    }

    hr {
        margin: 0;
        width: 20vw;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-wrap: wrap;

        &_item {
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                border: 1px solid #d4d4d4;
                padding: 1rem;
                border-radius: 50%;

                div {
                    font-size: 200%;
                    border: 2px solid $btn-color;
                    padding: .5rem 1.5rem;
                    border-radius: 50%;
                }
            }

            p {
                font-size: 80%;
            }
        }
    }

    button {
        background-color: $bold-color;
        width: fit-content;
        align-self: center;
    }
}


.mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $bold-color;
    margin-top: 1rem;

    img {
        width: 40%;
        max-width: 100%;
        mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);
    }

    &__info {
        flex: 0 1 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        color: $btn-color;

        h2 {
            font-size: 300%;
            text-transform: capitalize;
        }

        p {

            text-align: center;
            color: #ffffffc5;
        }
    }
}

.watches {
    p {
        text-align: center;
    }
}


.about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__info {
        flex: 0 1 30%;

        h2 {
            text-align: start;
            text-transform: uppercase;
        }

        p {
            color: $light-color;
        }
    }

    &__video {
        flex: 0 1 30%;

        display: flex;
        justify-content: center;
        align-items: center;
        background: url("https://corkerro.github.io/volumenzeit/img/about/video.png") no-repeat center;
        // width: 100%;
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: .2rem;
    background: url('https://corkerro.github.io/volumenzeit/img/chance/bg.jpg') no-repeat;

    h2 {
        color: $btn-color;
        font-size: 2rem;
        font-weight: bold;
    }

    p {
        color: #ebe4e4;
        text-align: center;
    }

    .newsletter__form {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        input {
            flex: 1;
            margin: 1px;
            border-radius: 3px;
            border: none;
            padding: .2rem;
        }

        button {
            margin-top: 2px;
            padding: .5rem 1rem;
            background-color: $bold-color;

        }
    }

}

footer{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    p{
        color: rgb(195, 188, 188);
    }
    img{
        width: 40vw;
        object-fit: contain;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    * {

        font-size: 13px;
    }

    header {

        nav ul button {

            padding: 4px;
        }
    }
}

@media screen and (max-width: 600px) {
    * {

        font-size: 13px;
    }

    nav ul {
        display: none;
    }

    header {

        .menu {
            display: flex;
        }
    }

    .homeBlock_img {
        display: none;
    }

    .mission {
        row-gap: .5rem;

        img {
            width: 100%;
        }

        &__info {
            flex: 1 1 100%;
        }
    }

    .about {
        &__info {
            flex: 0 1 100%;
            text-align: center;

            h2 {
                text-align: center;
            }
        }

        &__video {
            background: none;
            width: 100%;

            button {
                padding: .8rem;
            }
        }
    }
}